html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.Br1816ThinItalic {
  font-family: Brother-1816-Thin-Italic;
  font-weight: normal;
  font-style: normal; }

.Br1816Thin {
  font-family: Brother-1816-Thin;
  font-weight: normal;
  font-style: normal; }

.Br1816Bold {
  font-family: Brother-1816-Bold;
  font-weight: normal;
  font-style: normal; }

.Br1816BoldItalic {
  font-family: Brother-1816-Bold-Italic;
  font-weight: normal;
  font-style: normal; }

h1, h2, h3 {
  font-family: "Amiri";
  font-weight: normal;
  font-style: normal; }

h4, h5 {
  font-family: Brother-1816-Bold;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase; }

a {
  font-family: Brother-1816-Thin;
  font-size: 11px;
  letter-spacing: 1px;
  text-decoration: none; }

p.sm {
  font-family: Brother-1816-Thin-Italic;
  margin: 0;
  padding: 0; }

body {
  background: black;
  overflow-x: hidden;
  overflow-y: auto; }

.underline-white {
  padding-bottom: 3px;
  border-bottom: 1px solid white; }

.underline-black {
  border-bottom: 1px solid white; }

.right {
  float: right; }

.left {
  float: left; }

.clear {
  clear: all; }

button:active {
  outline: none;
  border: none; }

.button-close {
  background: none;
  border: 1px solid black;
  font-family: Brother-1816-Bold;
  font-size: 11px;
  text-transform: uppercase;
  padding: 10px 20px; }

nav {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 0 20px 0; }
  nav::after {
    clear: both;
    content: "";
    display: block; }
  nav ul li {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0 30px 0 0;
    text-align: left; }
    nav ul li a {
      margin: 0;
      display: block;
      width: 100%;
      height: 100%;
      color: white;
      transition: 0.3s ease-out; }
      nav ul li a:hover {
        opacity: 0.4; }

.logo {
  display: block;
  margin: 10px 0 0 20px; }
  .logo a {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Brother-1816-Bold;
    font-size: 1em;
    color: white;
    transition: 0.3s ease-out; }
    .logo a:hover {
      opacity: 0.4;
      cursor: pointer; }

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 100vh;
  background: rgba(255, 255, 255, 0.9);
  z-index: 1000000; }

.overlay-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .overlay-container::after {
    clear: both;
    content: "";
    display: block; }
  .overlay-container .overlay-about, .overlay-container .overlay-event {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-left: 17.05961%; }
    .overlay-container .overlay-about:last-child, .overlay-container .overlay-event:last-child {
      margin-right: 0; }
    .overlay-container .overlay-about .left-info, .overlay-container .overlay-about .right-info, .overlay-container .overlay-event .left-info, .overlay-container .overlay-event .right-info {
      margin: 100px 0 0 0; }
    .overlay-container .overlay-about .left-info, .overlay-container .overlay-event .left-info {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 57.35098%; }
      .overlay-container .overlay-about .left-info:last-child, .overlay-container .overlay-event .left-info:last-child {
        margin-right: 0; }
    .overlay-container .overlay-about .right-info, .overlay-container .overlay-event .right-info {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      margin-left: 8.5298%;
      margin-right: 0; }
      .overlay-container .overlay-about .right-info:last-child, .overlay-container .overlay-event .right-info:last-child {
        margin-right: 0; }
      .overlay-container .overlay-about .right-info h5, .overlay-container .overlay-event .right-info h5 {
        text-transform: capitalize;
        margin: 0;
        padding: 0; }
      .overlay-container .overlay-about .right-info p, .overlay-container .overlay-event .right-info p {
        margin: 0 0 20px 0;
        padding: 0;
        font-size: 11px; }
    .overlay-container .overlay-about .close, .overlay-container .overlay-event .close {
      margin-right: 0;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      margin-top: 20px; }
      .overlay-container .overlay-about .close:last-child, .overlay-container .overlay-event .close:last-child {
        margin-right: 0; }
      .overlay-container .overlay-about .close button, .overlay-container .overlay-event .close button {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 14.70196%;
        margin-left: 42.64902%; }
        .overlay-container .overlay-about .close button:last-child, .overlay-container .overlay-event .close button:last-child {
          margin-right: 0; }
        .overlay-container .overlay-about .close button:active, .overlay-container .overlay-event .close button:active {
          outline: none;
          border: none; }

footer {
  width: 100vw;
  display: block;
  height: 30px;
  z-index: 10000;
  margin-top: 30px; }
  footer .colophon {
    display: block;
    height: 30px;
    width: 70vw;
    position: relative;
    left: 15vw;
    font-family: Brother-1816-Thin;
    font-size: 10px;
    text-align: center;
    color: white;
    transition: 0.3s ease-out; }
    footer .colophon:hover {
      opacity: 1; }

.notfullheight {
  width: 100vw;
  height: 80vh; }

.spacer {
  height: 40px;
  width: 100%;
}

.vidcontainer {
  text-align: center;
}

 #v1, #v2, #v3, #v4, #v5, #vdefault {
    display: inline-block;
    width: 200px;
  }

  #v1:hover, #v2:hover, #v3:hover, #v4:hover, #v5:hover, #vdefault:hover {
    opacity: 0.5;
    transition: 0.3s ease-in-out;
    cursor: pointer;
  }

  #v1 img, #v2 img, #v3 img, #v4 img, #v5 img, #vdefault img {
    width: 200px;
    height: auto;
  }

/*# sourceMappingURL=styles.css.map */
