.Br1816ThinItalic { 
	font-family: Brother-1816-Thin-Italic;
	font-weight: normal;
	font-style: normal;
}

.Br1816Thin { 
	font-family: Brother-1816-Thin;
	font-weight: normal;
	font-style: normal;
}

.Br1816Bold { 
	font-family: Brother-1816-Bold;
	font-weight: normal;
	font-style: normal;
}

.Br1816BoldItalic { 
	font-family: Brother-1816-Bold-Italic;
	font-weight: normal;
	font-style: normal;
}